nav {
    background-color: rgb(68, 167, 68);;
    padding: 5px;
    border: 2px solid yellow;
    border-radius: 15px;
}

nav ul li {
    list-style-type: none;
    background-color: yellow;
    display: inline;
    padding: 20px;
    border-radius: 15px;
}

nav ul li a {
    color: black;
    font-style: italic;
    text-decoration: none;
}

nav ul li:hover {
    background-color: crimson;
}

nav ul {
    text-align: center;
    font-size: 1.5em;
}

#active {
    background-color: chocolate;
}

.logo {
    float: left; height: 135px; width: 135px;
}
header {
    height: 150px;
    color: rgb(68, 167, 68);
    border: 2px solid rgb(68, 167, 68);
    border-radius: 7px;
}
footer ul li {
    list-style-type: none;
    color: white;
    display: inline;
    padding: 20px;
}
footer ul li a {
    color: black;
    text-decoration: none;
    display: inline;
}
footer {
    clear: both;
    border: 2px solid yellow;
    border-radius: 7px;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: rgb(68, 167, 68);
    text-align: center;
}
footer ul li :hover{
    background-color: crimson;
}
.footercolorB {
    color: black;
    text-decoration: none;
}
.showimages {
    float: left;
    width: 30%;
    border: 2px solid white;
    margin:0 10px 0 10px; /* top margin is 0, right margin is 10px, bottom margin is 0, left margin is 10px*/
}
.col_detail {
    column-count: 1;
    column-rule: 2px solid yellow(117, 6, 6);
    column-gap: 10px;
    padding: 2px;
    text-align: justify;
}
#Maincontent {
    float: left;
    width: 100%;
    border: 2px solid rgb(68, 167, 68);
    border-radius: 15px;
}
body {
    font-family: Verdana;
    background-color: black;
    color: chocolate;
}
p {
    text-align: justify;
    padding: 2px;
}
.backgroundImageB {
    background-image: url(../images/trimeresus\ viper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main a {
    color: yellow;
    text-decoration: none;
}
.fontColorB{
    color: black;
    text-decoration: none;
}
h1 {
    color: rgb(68, 167, 68)
}
h2 {
    color: rgb(68, 167, 68)
}
.titleFontSize {
    font-size: 50px;
}
.address p{
    padding-top: 30px;
    text-align: center;
    color: white;
}
aside {
    float: right;
    margin-right: 50px;
}
table {
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 20px;
    padding: 2%;
    table-layout: fixed;
}
th,td,tr {
    border: 1px solid white;
    text-align: center;
}
.videoContent {
    float: right;
    width: 49%;
    border: 2px solid peru;
    max-height: 450px;
    min-height: 450px;
    overflow: auto;
    margin: 5px;
}